<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="./main.css">
    <title>To-do</title>
</head>
<body>
<div id="app">
    <div class="stats">
        <h3 class="stats__title">{{"Текущих задач: "+ tasks.length}}</h3>
    </div>
    <p><input class="search" type="text" v-model="name" placeholder="Поиск"/></p>
    <task @task_done="delete_task(index)" :key="index" v-for="(data,index) in filteredList" :data="data"></task>
    <div class="add_task">
        <div class="add_task__input ">
            <input placeholder="Последовательность выполнения" type="number" v-model="new_task.id" required>
            <input placeholder="Новая задача..." type="text" v-model="new_task.name" required>
            <input placeholder="25.05.20" type="number" v-model="new_task.date" required>
        </div>
        <button class="add_task__btn" @click="add_task">➕</button>
    </div>
</div>
</body>
<script src="./script.js"></script>
</html>
